body {
    font-size: 1.5em;
    background-color: #111;
    color: #fff;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.alert-danger {
    display: none;
}

.login-box {
    display: flex;
    justify-content: center;
}

.registreer-box {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 25%;
    width: 700x;
    box-sizing: border-box;
}

.form-control {
    width: 510px;
}

a {
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    color: #fff;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color .3s ease;
    text-decoration: solid;
    margin-top: 20px;
}

.login-btn {
    background-color: rgb(46, 4, 100);
    border: none;
    font-family: monospace;
}

.login-btn:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}

.logoutBtn {
    background-color: rgb(46, 4, 100);
    border: none;
    font-family: monospace; 
}

.registreer-btn {
    background-color: rgb(46, 4, 100);
    border: none;
    margin-bottom: 30px;
}

.registreer-btn:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}

h2 {
    text-decoration: underline;
}

.homepaginalink {
    border: none;
    background-color: transparent;
}

.delete-account-btn {
    background-color: rgb(143, 9, 9);
    border: none;
    font-family: monospace;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.delete-account-btn:hover {
    background-color: rgb(112, 7, 7);
    transition: 0.5s;
}