body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    color: beige;
    overflow-x: hidden;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: #111;
    border: 0px;
    font-family: monospace;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
}

.toggle-button:hover {
    color: rgb(46, 4, 100);
    transition: 0.5s;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    padding: 15px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    width: 50%;
    top: 30px;
    position: relative;
}

.navigation a:hover {
    background-color:rgb(34, 4, 73);
    transition: 0.5s;
    padding: 10px 40px;
}

p{
    background-color: rgb(46, 4, 100);
    width: 500px;
    padding: 20px;
    margin: auto;
    text-align: left;
    left: 0px;
    position: relative;
  }

a{
  display: inline-block;
  padding: 10px 30px;
  font-size: 18px;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  background-color:rgb(46, 4, 100);
  color: #fff;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: -20px;
}

.profielknop {
    font-family: monospace;

}

.profielknop:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}

.aanmeldknop:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}

#knop2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 420px;
}

h1{
    background-color: #111;
    padding: 15px;
    text-align: right;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -7px;
}   

.logoutBtn{
    display: inline-block;
    padding: 10px px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: grey;
    color: #fff;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color .3s ease;
    border-radius: 10px;
}

.logoutBtn:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 180px;
    z-index: -1;
}



.homepaginatekst {
    font-family: monospace;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    
}

.homepaginatekst1 {
    font-family: monospace;
    position: absolute;
    left: 72%;
    transform: translate(-50%);
    text-align: center;
    top: 75px;
}

.homepaginatekst2 {
    font-family: monospace;
    position: absolute;
    left: -75%;
    transform: translate(-100%);
    text-align: center;
    top: 25px;
}

.aboutTekst {
    font-family: monospace;
    font-size: small;
    text-align: left;
    margin-left: 30px;
}

.aboutTekstTitel {
    font-size: 32px;
    background-color:rgb(46, 4, 100);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    word-spacing: -7px;
    font-family: monospace;
}

.aboutTekstTitel1 {
    font-size: 24px;
    background-color:rgb(46, 4, 100);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    word-spacing: -7px;
    font-family: monospace;
    margin-left: 50px;
    
}


.logoutBtn {
    background-color: rgb(46, 4, 100);
    border: none;
    font-family: monospace;
    font-size: 18px;
}

.vraag{
    background-color: rgb(46, 4, 100);
    width: 520px;
    height: 350px;
    border-radius: 10px;
    font-family: monospace;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
}

.vraagbutton{
    background-color: rgb(0, 0, 0);
    border: none;
    font-family: monospace;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    position: absolute;
    top: 500px;
    left: 30px;
}

.vraagbutton:hover {
    background-color: #111;
    transition: 0.5s;
}

#vraagstellen{
    width: 500px;
    margin-top: 20px;
    font-size: 18px;
    font-family: monospace;
    border: none;
}

#vraagsnippet{
    width: 500px;
    height: 120px;
    font-family: monospace;
    resize: none;
    font-size: 16px;
    border: none;

}

.vragenvanandere{
    left: 800px;
    background-color: rgb(46, 4, 100);
    width: 700px;
    height: 400px;
    border-radius: 10px;
    font-family: monospace;
}

.line {
    background-color: #fff;
    width: 2px;
    height: 100vh;
    position: absolute;
    left: 43%;
    top: 10%;

}

.vraag-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    left: px;
    
}

.vraag-item p {
    white-space: pre-wrap;
    word-wrap: break-word;
}


#vragenContainer {
    position: absolute;
    left: 660px;
    font-family: monospace;
    top: 200px;
    overflow-x: auto;
}



.username-text {
    font-family: monospace;

}


.mijnvragentekst {
    font-family: monospace;
    position: absolute;
    left: 50px;
    top: 80px;
}

#mijnVragenButton {
    background-color: rgb(46, 4, 100);
    border: none;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

#mijnVragenButton:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}



.geefAntwoordButton {
    margin-top: 10px;
}

.antwoord-button {
    background-color: rgb(243, 169, 9);
    border: none;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.antwoord-button:hover{
    background-color:rgba(197, 138, 9, 0.651) ;
    transition: 0.5s;
}

.antwoord-input {
    resize: vertical;
    width: 400px;
    height: 150px;
}

#hiddenAntwoordInput {
    visibility: hidden;
    height: 0px;
}

#hiddenSubmitKnop {
    visibility: hidden;
}

.submit-antwoord-button {
    background-color: rgb(243, 169, 9);
    border: none;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.submit-antwoord-button:hover {
    background-color:rgba(197, 138, 9, 0.651) ;
    transition: 0.5s;
}