body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    color: beige;
    overflow-x: hidden;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 0px;
    font-family: monospace;
}

.toggle-button:hover {
    color: rgb(46, 4, 100);
    transition: 0.5s;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    padding: 15px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    width: 50%;
    top: 30px;
    position: relative;
}

.navigation a:hover {
    background-color:rgb(34, 4, 73);
    transition: 0.5s;
    padding: 10px 40px;
}

p{
    background-color: rgb(0, 0, 0);
    width: 1500px;
    padding: 20px;
    margin: auto;
    text-align: right;
  }

a{
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  background-color:rgb(46, 4, 100);
  color: #fff;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color .3s ease;
  margin-top: -20px;
}

.aanmeldknop:hover {
    background-color:rgb(34, 4, 73) ;
    transition: 0.5s;
}

#knop2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 420px;
}

h1{
    background-color: #111;
    padding: 15px;
    text-align: right;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -7px;
}   

.logoutBtn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: grey;
    color: #fff;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color .3s ease;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 180px;
    z-index: -1;
}



.homepaginatekst {
    font-family: monospace;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.aboutTekst {
    font-family: monospace;
    font-size: small;
    text-align: left;
    margin-left: 30px;
}

.aboutTekstTitel {
    font-size: 32px;
    background-color:rgb(46, 4, 100);
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    word-spacing: -7px;
}